# Node Enviromente
NODE_ENV=development

# Application Variables
URL=http://localhost:3000
PORT=3000

# MongoDB Variables for Connection
#
# SET HERE THE CONNECTION DATA WITH MONGODB CONTAINNER,
# ACCORDING TO THE USER PREVIUS CREATED IN THE FILE "mongo-entrypoint/default-user.sh",
# THROUGH THE FIRST FUNCTION "db.createUser()"
#
MONGODB_HOST=hostname
MONGODB_USER=omnistack
MONGODB_PASSWORD=omnistack
MONGODB_DATABASE=omnistack

# Storage Variables
S3_ACCESS_KEY=BDIS44FB8UUXM40DFCKV
S3_SECRET_KEY=TA5pCZ8ZLPCRP0rtkIqommpHve_pakPZbdQqR6XM
S3_ENDPOINT=http://localhost:9000
S3_BUCKET_NAME=rocketbox
S3_URL_FILE_LINK=http://localhost:9000/rocketbox
S3_REGION=us-east-1
